<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Happnin</title>
	  <meta charset="utf-8"></meta>
		<meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
		<meta content="width=device-width, initial-scale=1" name="viewport"></meta>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			  <a class="navbar-brand" href="#">Happnin</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
			  <ul class="nav navbar-nav">
				<li><a href="#whatIs">What is Happnin?</a></li>
				<li><a href="#systemBackend">How It Works</a></li>
				<li><a href="#video">Video</a></li>
				<li><a href="#business">Happnin for Businesses</a></li>
				<li><a href="#aboutUs">About Us</a></li>
			  </ul>
			</div>
		  </div>
		</nav>

			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<br><br><br>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<img src="/images/LogoWoutBack.png" class="img-responsive center-block" alt="Responsive image"  width="200" height="200">
					</div>
					<div class="col-sm-8">
						<h1>Find out what's Happnin!</h1>
						<p>
							"Happin shows you what's currently going on at popular places around you."
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<br><br><br>
					</div>
				</div>
			</div>


		<div class="coloredbackground" id="whatIs">
			<div class="container">
				<br>
				<div class="row">
					<div class="col-sm-12">
						<br>
						<h2>What is Happnin?</h2>
					  <br>
					</div>
				</div><!-- .row -->

			  <div class="row">
					<div class="col-sm-6" >
						<img src="/images/1page.png" class="img-responsive center-block" alt="..." width="250" height="418" >
					</div>
					<div class="col-sm-6" >
						<h3>Find relevant information about venues</h3>
						<br>
					  <p class="text-justify">
							People are always trying to find a cool restaurant with a great atmosphere
							to eat at or a popular bar or club where they will spend a memorable night.
							You could use one of the existing location-search apps that already exist.
							However, these apps use their own media database and their own rating system,
							which results in being forced to choose a place based on photos and ratings
							that are sometimes years old!
						</p>
						<br>
						<p class="text-justify">
								Happnin solves this problem. Instead of out-of-date venue information,
							you instead get a feed from some of the most popular social medias, Twitter
							and Instagram, that are cross-referenced with place data to show you
							what is actually happening <b>right now</b> at popular places around you.
							A surprise concert is taking place at a bar? People will surely be tweeting
							about that, and you won't miss out! On top of that, we built our own buzzmeter:
							rate the place on how the atmosphere currently is, and your rating will disappear
							when it becomes outdated. This ensures you're getting the most up-to-date
							information possible.
						</p>
						<br>
					  <p>You can easily find informations about:</p>
					  <ul>
							<li>Restaurants</li>
							<li>Cafes</li>
							<li>Clubs</li>
							<li>Bars</li>
					  </ul>
					</div>
			  </div><!-- .row -->

			  <br>
			  <div class="row">
					<div class="col-sm-6" >
						<br>
						<h3>How do you use it?</h3>
						<br>
						<p class="text-justify">
							Use Happnin when you want to find something to do or somewhere to go.
							Simply pull up the app, and you are presented with a list of restaurants,
							cafes, clubs, or bars around you (with the help of Yelp!). From there,
							simply select a venue to see a live feed of tweets and Instagram posts
							from that place! We also give you the ability to get directions to go there
							or call the place to make a quick reservation.
						</p>
						<br>
						<p class="text-justify">
							But what if you are planning to spend the evening in another city or
							part of town? Don't worry, Happnin has you covered! You can actually use
							Happnin to look up places in any city in the world. <i>How neat is
							that?</i>
						</p>
					</div>
					<div class="col-sm-6" >
						<img src="/images/2page.png" class="img-responsive center-block" alt="..." width="250" height="418">
					</div>
			  </div><!-- .row -->
			</div><!-- .container -->
			<br>
		</div><!-- #whatIs -->

		<div  id="systemBackend">
			<div class="container">
				<br>
				<div class="row">
					<div class="col-sm-12">
						<br>
						<h2>How does it work?</h2>
						<br>
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="col-sm-12">
						<p class="text-justify">
							The whole experience is based on a clever use of the available APIs.
							What's happnin' behind the scenes for every request is the following:
							<ul>
								<li>We retrieve your current location or the location you are
								searching plus the type of venues you are looking for and send it
								to our server.</li>
								<li>From there, we get a list of relevant places from Yelp!.</li>
								<li>We add our own information, including featured venues, on top of those from Yelp!.</li>
								<li>Once you've chosen a place, we get the most recent geo-tagged
									tweets and Instagram posts from that place.</li>
							</ul>
						</p>
						<br>
						<p class="text-justify">
							You can find a visualization of the process below:
						</p>
						<br>
						<img class="img-responsive" src="/images/Archi.jpg" alt="">
					</div>
				</div><!-- .row -->
			</div><!-- .container -->
			<br>
		</div><!-- #systemBackend -->


		<div class="coloredbackground" id="video">
			<div class="container">
				<br>
				<div class="row">
					<div class="col-sm-12">
						<br>
						<h2>Video</h2>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/pU59IbSVGqM" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<br>
			</div>
		</div>

		<div id="business">
			<div class="container">
				<br>
				<div class="row">
					<div class="col-sm-12">
						<br>
						<h2>Happnin for Businesses</h2>
						<br>
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="col-sm-6" >
						<br>
						<br>
						<br>
						<p class="text-justify">
							Owner of a restaurant, cafe, club, or bar? We have just the tool
							you need!
						</p>
						<br>
						<p class="text-justify">
							Happnin lets you get premium visibility -- your business
							will benefit from maximum exposure in our app for a small monthly
							fee.
						</p>
						<p class="text-justify">
							But there's more! You will get your very own channel in the app,
							displayed directly in the social media feed for your venue. This
							gives you the power to reach your customers more directly in order
							to send them coupons and promotions. Down the road, you'll be able
							to get insight on your customers with special statistics.
						</p>
						<br>
					</div>
					<div class="col-sm-6" >
						<img src="/images/3page.png" class="img-responsive center-block" alt="..." width="250" height="418">
					</div>
				</div><!-- .row -->
			</div><!-- .container -->
			<br>
		</div><!-- #business -->


		<div class="coloredbackground" id="aboutUs">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<br>
						<h2>About us</h2>
						<p>Meet the team members !</p>
						<br>
					</div>
				</div><!-- .row -->

				<div class="row">
					<div class="col-md-1 col-lg-1"></div>
					<div class="col-sm-6 col-md-2 col-lg-2">
							<img src="/images/0.png" alt="..." class="img-circle center-block" width="100" height="100">
						<div class="caption">
							<h5 class="text-center">Qisi Kang</h5>
							<p class="small text-center">Android & Web Development</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-2 col-lg-2">
							<img src="/images/0.png" alt="..." class="img-circle center-block" width="100" height="100">
						<div class="caption">
							<h5 class="text-center">Lucas Newman</h5>
							<p class="small text-center" >Backend & iOS Development</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-2 col-lg-2">
							<img src="/images/0.png" alt="..." class="img-circle center-block" width="100" height="100">
						<div class="caption">
							<h5 class="text-center">Holly Parrish</h5>
							<p class="small text-center" >Design & UX</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-2 col-lg-2">
							<img src="/images/0.png" alt="..." class="img-circle center-block" width="100" height="100">
						<div class="caption">
							<h5 class="text-center">Anish Sharma</h5>
							<p class="small text-center" >Business & Communication</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-2 col-lg-2">
							<img src="/images/0.png" alt="..." class="img-circle center-block" width="100" height="100">
						<div class="caption">
							<h5 class="text-center">Jean-Baptiste Weibel</h5>
							<p class="small text-center">Backend & Android Development</p>
						</div>
					</div>
					<div class="col-md-1 col-lg-1"></div>
				</div><!-- .row -->
				<br>
			</div><!-- .container -->
		</div>


		<footer class="footer" role="contentinfo">
			<br>
			<br>
			<div class="container">
				<p class="text-center"> Designed and built by Happnin &#169 2015</p>
				<br>
			</div><!-- .container -->
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</body>
</html>
